In [21]:
import pandas as pd

In [25]:
df = pd.read_csv('/Users/hemilpatel/Desktop/Crime Data 2020-2024.csv')

/var/folders/k7/l986pfx93rl8446kk42hp2n40000gn/T/ipykernel_21758/2792812630.py:1: DtypeWarning: Columns (1,2,5,9,10,12,13,15,17,18,19,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/hemilpatel/Desktop/Crime Data 2020-2024.csv')

In [27]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475.0,3/1/20 0:00,3/1/20 0:00,2130.0,7.0,Wilshire,784.0,1.0,510.0,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753.0,2/9/20 0:00,2/8/20 0:00,1800.0,1.0,Central,182.0,1.0,330.0,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258.0,11/11/20 0:00,11/4/20 0:00,1700.0,3.0,Southwest,356.0,1.0,480.0,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217.0,5/10/23 0:00,3/10/20 0:00,2037.0,9.0,Van Nuys,964.0,1.0,343.0,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,200412582.0,9/9/20 0:00,9/9/20 0:00,630.0,4.0,Hollenbeck,413.0,1.0,510.0,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E AVENUE 28,NaN,34.0820,-118.2130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005109 entries, 0 to 1005108
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           100000 non-null  float64
 1   Date Rptd       100000 non-null  object
 2   DATE OCC        100000 non-null  object
 3   TIME OCC        100000 non-null  float64
 4   AREA            100000 non-null  float64
 5   AREA NAME       100000 non-null  object
 6   Rpt Dist No     100000 non-null  float64
 7   Part 1-2        100000 non-null  float64
 8   Crm Cd          100000 non-null  float64
 9   Crm Cd Desc     100000 non-null  object
 10  Mocodes         87406 non-null   object
 11  Vict Age        100000 non-null  float64
 12  Vict Sex        87837 non-null   object
 13  Vict Descent    87834 non-null   object
 14  Premis Cd       99999 non-null   float64
 15  Premis Desc     99962 non-null   object
 16  Weapon Used Cd  37992 non-null   float64
 17  Weapon Desc     37992 non-null   object
 18  Status          100000 non-null  object
 19  Status Desc     100000 non-null  object
 20  Crm Cd 1        99998 non-null   float64
 21  Crm Cd 2        8126 non-null    float64
 22  Crm Cd 3        257 non-null     float64
 23  Crm Cd 4        10 non-null      float64
 24  LOCATION        100000 non-null  object
 25  Cross Street    18944 non-null   object
 26  LAT             100000 non-null  float64
 27  LON             100000 non-null  float64
dtypes: float64(15), object(13)
memory usage: 214.7+ MB

In [31]:
df_cleaned = df.drop(columns=[
    'Rpt Dist No', 'Part 1-2', 'Mocodes', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4',
    'Weapon Used Cd', 'Cross Street'
])

In [35]:
df_cleaned

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Desc,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON
0,190326475.0,3/1/20 0:00,3/1/20 0:00,2130.0,7.0,Wilshire,510.0,VEHICLE - STOLEN,0.0,M,O,101.0,STREET,NaN,AA,Adult Arrest,510.0,1900 S LONGWOOD AV,34.0375,-118.3506
1,200106753.0,2/9/20 0:00,2/8/20 0:00,1800.0,1.0,Central,330.0,BURGLARY FROM VEHICLE,47.0,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,IC,Invest Cont,330.0,1000 S FLOWER ST,34.0444,-118.2628
2,200320258.0,11/11/20 0:00,11/4/20 0:00,1700.0,3.0,Southwest,480.0,BIKE - STOLEN,19.0,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,IC,Invest Cont,480.0,1400 W 37TH ST,34.0210,-118.3002
3,200907217.0,5/10/23 0:00,3/10/20 0:00,2037.0,9.0,Van Nuys,343.0,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19.0,M,O,405.0,CLOTHING STORE,NaN,IC,Invest Cont,343.0,14000 RIVERSIDE DR,34.1576,-118.4387
4,200412582.0,9/9/20 0:00,9/9/20 0:00,630.0,4.0,Hollenbeck,510.0,VEHICLE - STOLEN,0.0,NaN,NaN,101.0,STREET,NaN,IC,Invest Cont,510.0,200 E AVENUE 28,34.0820,-118.2130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df_cleaned

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Desc,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON
0,190326475.0,3/1/20 0:00,3/1/20 0:00,2130.0,7.0,Wilshire,510.0,VEHICLE - STOLEN,0.0,M,O,101.0,STREET,NaN,AA,Adult Arrest,510.0,1900 S LONGWOOD AV,34.0375,-118.3506
1,200106753.0,2/9/20 0:00,2/8/20 0:00,1800.0,1.0,Central,330.0,BURGLARY FROM VEHICLE,47.0,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,IC,Invest Cont,330.0,1000 S FLOWER ST,34.0444,-118.2628
2,200320258.0,11/11/20 0:00,11/4/20 0:00,1700.0,3.0,Southwest,480.0,BIKE - STOLEN,19.0,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,IC,Invest Cont,480.0,1400 W 37TH ST,34.0210,-118.3002
3,200907217.0,5/10/23 0:00,3/10/20 0:00,2037.0,9.0,Van Nuys,343.0,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19.0,M,O,405.0,CLOTHING STORE,NaN,IC,Invest Cont,343.0,14000 RIVERSIDE DR,34.1576,-118.4387
4,200412582.0,9/9/20 0:00,9/9/20 0:00,630.0,4.0,Hollenbeck,510.0,VEHICLE - STOLEN,0.0,Unknown,Unknown,101.0,STREET,NaN,IC,Invest Cont,510.0,200 E AVENUE 28,34.0820,-118.2130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,201009644.0,5/30/20 0:00,4/20/20 0:00,1220.0,10.0,West Valley,354.0,THEFT OF IDENTITY,30.0,F,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,IC,Invest Cont,354.0,17200 BURBANK BL,34.1723,-118.5076
99996,200604088.0,1/1/20 0:00,1/1/20 0:00,1210.0,6.0,Hollywood,420.0,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),53.0,M,W,123.0,PARKING UNDERGROUND/BUILDING,NaN,IC,Invest Cont,420.0,6800 HOLLYWOOD BL,34.1016,-118.3387
99997,200214668.0,9/4/20 0:00,9/4/20 0:00,100.0,2.0,Rampart,354.0,THEFT OF IDENTITY,26.0,M,H,301.0,GAS STATION,NaN,IC,Invest Cont,354.0,600 LAVETA TR,34.0693,-118.2583
99998,201210009.0,3/30/20 0:00,3/29/20 0:00,100.0,12.0,77th Street,510.0,VEHICLE - STOLEN,0.0,Unknown,Unknown,101.0,STREET,NaN,IC,Invest Cont,510.0,HOOVER ST,34.0017,-118.2871
99999,201211636.0,4/11/20 0:00,4/9/20 0:00,950.0,12.0,77th Street,330.0,BURGLARY FROM VEHICLE,28.0,F,H,505.0,MOTEL,NaN,IC,Invest Cont,330.0,E 77TH ST,33.9696,-118.2739

In [49]:
df1 = df_cleaned

In [51]:
df1

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Desc,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON
0,190326475.0,3/1/20 0:00,3/1/20 0:00,2130.0,7.0,Wilshire,510.0,VEHICLE - STOLEN,0.0,M,O,101.0,STREET,NaN,AA,Adult Arrest,510.0,1900 S LONGWOOD AV,34.0375,-118.3506
1,200106753.0,2/9/20 0:00,2/8/20 0:00,1800.0,1.0,Central,330.0,BURGLARY FROM VEHICLE,47.0,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,IC,Invest Cont,330.0,1000 S FLOWER ST,34.0444,-118.2628
2,200320258.0,11/11/20 0:00,11/4/20 0:00,1700.0,3.0,Southwest,480.0,BIKE - STOLEN,19.0,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,IC,Invest Cont,480.0,1400 W 37TH ST,34.0210,-118.3002
3,200907217.0,5/10/23 0:00,3/10/20 0:00,2037.0,9.0,Van Nuys,343.0,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19.0,M,O,405.0,CLOTHING STORE,NaN,IC,Invest Cont,343.0,14000 RIVERSIDE DR,34.1576,-118.4387
4,200412582.0,9/9/20 0:00,9/9/20 0:00,630.0,4.0,Hollenbeck,510.0,VEHICLE - STOLEN,0.0,Unknown,Unknown,101.0,STREET,NaN,IC,Invest Cont,510.0,200 E AVENUE 28,34.0820,-118.2130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,201009644.0,5/30/20 0:00,4/20/20 0:00,1220.0,10.0,West Valley,354.0,THEFT OF IDENTITY,30.0,F,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,IC,Invest Cont,354.0,17200 BURBANK BL,34.1723,-118.5076
99996,200604088.0,1/1/20 0:00,1/1/20 0:00,1210.0,6.0,Hollywood,420.0,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),53.0,M,W,123.0,PARKING UNDERGROUND/BUILDING,NaN,IC,Invest Cont,420.0,6800 HOLLYWOOD BL,34.1016,-118.3387
99997,200214668.0,9/4/20 0:00,9/4/20 0:00,100.0,2.0,Rampart,354.0,THEFT OF IDENTITY,26.0,M,H,301.0,GAS STATION,NaN,IC,Invest Cont,354.0,600 LAVETA TR,34.0693,-118.2583
99998,201210009.0,3/30/20 0:00,3/29/20 0:00,100.0,12.0,77th Street,510.0,VEHICLE - STOLEN,0.0,Unknown,Unknown,101.0,STREET,NaN,IC,Invest Cont,510.0,HOOVER ST,34.0017,-118.2871
99999,201211636.0,4/11/20 0:00,4/9/20 0:00,950.0,12.0,77th Street,330.0,BURGLARY FROM VEHICLE,28.0,F,H,505.0,MOTEL,NaN,IC,Invest Cont,330.0,E 77TH ST,33.9696,-118.2739

In [53]:
df1.to_excel("cleaned_data.xlsx", index=False)